extends ../layout
block content
  h1 Edit product
  form(action="/products/#{product.id}", method="post")
    input(type="hidden", name="_method", value="put")
    include form
    fieldset
      button Save changes
