body {
  font: 14px sans-serif;
  color: #222;
}

.page-wrapper {
  margin: 30px auto;
  max-width: 900px;
}

.page-header {
  padding: 10px 20px;
  border-radius: 3px;
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: 30px;
  line-height: 30px;
  height: 30px;
}
.page-header .signin {
  float: right;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  color: #1f88be;
}
.page-header .page-nav {
  float: left;
}
.page-nav ul {
  margin: 0;
  padding: 0;
}
.page-nav li {
  float: left;
  list-style: none;
  margin-right: 20px;
}
.page-nav a {
  text-transform: uppercase;
  color: #222;
}
.page-header .user-info {
  float: right;
}
.user-info .signout {
  padding-left: 10px;
  color: #c34836;
}

main {
  padding: 0 20px;
}

.signin {
  padding: 100px 0 0;
  max-width: 230px;
  margin: 0 auto;
}
.signin .error-message {
  color: #c34836;
  margin-bottom: 20px;
  font-size: 15px;
}
.signin label {
  display: block;
  font-size: 14px;
}
.signin input,
.signin button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 5px;
}
.signin input {
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2);
  font-size: 20px;
  margin-bottom: 15px;
}
.signin button {
  border: 0;
  border-radius: 3px;
  padding: 0 0 3px;
  margin-top: 20px;
  line-height: 35px;
  background: #5bbd72;
  color: #fff;
  font-size: 15px;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, .2);
}

h1 a {
  display: inline-block;
  margin-left: 15px;
  font-size: .5em;
  color: #222;
  font-weight: normal;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  padding: 5px 5px 0 5px;
}
tr.error td {
  background: #f2dede;
}
th {
  text-align: left;
}
thead th {
  border-bottom: 2px solid #888;
}
th:first-child {
  width: 50px;
}
th.small {
  width: 100px;
}
th:last-child {
  width: 0;
  padding: 0;
}
td {
  border-bottom: 1px solid #ddd;
}
th,
td {
  padding-top: 6px;
  padding-bottom: 6px;
}
td:last-child {
  text-align: right;
  padding: 0;
  white-space: nowrap;
}
td:last-child form {
  display: inline;
}
td:last-child a,
td:last-child button {
  margin: 0 0 0 10px;
  border: 0;
  background: none;
  text-decoration: underline;
  padding: 0;
  color: #555;
  cursor: pointer;
  font-size: 100%;
}
td:last-child :disabled {
  color: #aaa;
  cursor: default;
}
td:last-child .remove {
  color: #c34836;
}
td:last-child .quantity {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 22px;
  padding-right: 7px;
  text-align: right;
  border: 1px solid #eee;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  margin: 0;
}
td:last-child .quantity + button {
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  background: #880;
  border-radius: 2px;
}
tr.message td {
  text-align: center;
  padding: 30px 0;
}

fieldset {
  padding: 0;
  margin: 20px 0 0;
  border: 0;
}
fieldset label {
  display: block;
  margin-top: 5px;
}
fieldset input,
fieldset textarea,
fieldset select {
  display: block;
  box-sizing: border-box;
  margin: 5px 0 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: #fff;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 20px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, .10);
}
fieldset input,
fieldset select {
  height: 28px;
}
fieldset input,
fieldset textarea {
  padding: 3px 5px;
}
fieldset button {
  border: 0;
  border-radius: 3px;
  padding: 0 0 2px;
  width: 150px;
  line-height: 30px;
  background: #5bbd72;
  color: #fff;
  font-size: 15px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .2);
}
form .errors {
  color: #c34836;
}
form .errors ul {
  margin: 0 0 20px;
  padding: 0;
}
form .errors li {
  list-style: none;
}

dl {
  margin: 20px 0;
  overflow: hidden;
}
dl dt {
  float: left;
  clear: left;
  margin-right: 1em;
  font-weight: bold;
}
dl dd {
  float: left;
  margin-left: 0;
}
