extends ../layout
block content
  h1 Edit client
  form(action="/clients/#{client.id}", method="post")
    input(type="hidden", name="_method", value="put")
    include form
    fieldset
      button Save changes
