if errors && errors.length
  .errors
    ul
      each error in errors
        li= error
fieldset
  label Username
    input(name="username", size=15, value=client.username)
  label Password
    input(type="password", name="password", size=15, value='')
fieldset
  label Name
    input(name="name", size=20, value=client.name)
  label Credit limit
    input(name="credit_limit", size=10, value=client.credit_limit)
