doctype html
html
  head
    link(rel="stylesheet", href="/assets/styles.css")
    title Warehouse
  body
    .page-wrapper
      header.page-header
        block header
      main
        block content
