doctype html
html
  head
    link(rel="stylesheet", href="/assets/styles.css")
    title Warehouse
  body
    .page-wrapper
      header.page-header
        block header
          nav.page-nav
            ul
              li: a(href="/categories") Categories
          .user-info
            | Welcome, #{account.username}!
            a.signout(href="/signout") Sign out
      main
        block content
