doctype html
html
  head
    link(rel="stylesheet", href="/assets/styles.css")
    title Warehouse
  body
    .page-wrapper
      header.page-header
        block header
          nav.page-nav
            ul
              if account.worker
                li: a(href="/categories") Categories
                li: a(href="/products") Products
              if account.client
                li: a(href="/store") Store
          .user-info
            | Welcome, #{account.username}!
            a.signout(href="/signout") Sign out
      main
        block content
