doctype html
html
  head
    link(rel="stylesheet", href="/assets/styles.css")
    title Warehouse
  body
    .page-wrapper
      header.page-header
        block header
          nav.page-nav
            ul
              if account.worker
                li: a(href="/categories") Categories
                li: a(href="/products") Products
                li: a(href="/orders") Orders
                li: a(href="/invoices") Invoices
                li: a(href="/clients") Clients
                li: a(href="/workers") Workers
              if account.client
                li: a(href="/store") Store
                li: a(href="/profile/orders") Orders
                li: a(href="/profile/invoices") Invoices
          .user-info
            | Welcome, #{account.username}!
            a.signout(href="/signout") Sign out
      main
        block content
