doctype html
html
  head
    link(rel="stylesheet", href="/assets/styles.css")
    title Sign In
  body.template-index
    .page-wrapper
      header.page-header
        a.signout(href="/signout") Sign out
        .user-info Welcome, #{username}!
      main
        section
          p Dashboard
