extends ../layout-clean
block content
  section.signup
    form(method="post", action="/signup")
      if errors && errors.length
        .errors
          ul
            each error in errors
              li= error
      label(for="name") Name
      input#password(name="name", value=client.name)
      label(for="username") Username
      input#username(name="username", value=client.username)
      label(for="password") Password
      input#password(type="password", name="password", value='')
      button Sign up
